h1 {color: fuchsia;
}

#psi {width: 40%;
}
#psi {margin-left: 28%;
}

h1 {text-align: center;
}

#psic {width: 40%;
}
#psic {margin-left: 28%;
}

h1 {border: solid 3PX red;
}

Body {background-color: black;
}
h2 {color: darkgrey;
}
